$body-font-family: "Pretendard";
$main-color: #4E7D22;
$sub-color: #0E5039;
$body-color: #4d4d4d;
$heading-color: #212121;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #666666;
$light-color: #999999;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);


.itemContainter {
  padding: 2rem;
  border: 1px solid #eee;
  max-height: 1200px;
}

/*제휴서비스 소개*/
.item_card {
  margin-bottom: 50px;
  box-shadow: $box-shadow;

  .items {
    padding: 20px;
    text-align: center;
    background-color: $white-color ;

    h3 {
      margin-bottom: 15px;
    }
  }
}

/*제휴서비스 소개 상세 & GGmall 상세*/
.items_image {
  text-align: center;
  background-color: #f7f7f7;
  overflow: hidden;
  border-radius: 16px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.items_details_desc {
  margin-top: 30px;

  h2 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 50px;
  }

  .price {
    font-family: $body-font-family;
    text-align: right;
  }

  .btn_warp {
    text-align: right;

    .btn {
      padding: 20px 50px;
    }
  }
}


/*GGmall 상세*/
.product_details_desc {
  font-family: "S-CoreDream-6Bold";
  margin-top: 30px;
  padding-left: 30px;

  .brand {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #777;
  }

  h2 {
    font-family: "S-CoreDream-6Bold";
    font-weight: 500;
  }

  p {
    margin-bottom: 50px;
    font-family: "S-CoreDream-3Light";
  }

  .info_wrap {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .tit {
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
    margin-top: 20px;
  }

  .price {
    margin: 40px 0 20px;
    font-family: $body-font-family;
    text-align: right;
    font-size: 24px;
    font-weight: 700;

    span {
      margin-left: 5px;
      font-size: 16px;
      color: $gray-color;
      font-weight: 400;
    }
  }

  select {
    width: 100%;
    font-size: 1.1rem;
    padding: 10px;
    border-radius: 4px;
  }

  select option {
    background: black;
    color: #fff;
    padding: 3px 0;
  }

  .btn_warp {
    text-align: right;

    .btn {
      padding: 20px 50px;
    }
  }
}

.items_text {
  border: 1px solid #eeeeee;
}

.tab_tit {
  padding: 3px 10px;
  font-size: 18px;
  font-family: $body-font-family;
  font-weight: 600;
}


/*GGmall 결제*/
.cart_list {
  align-items: center;
  padding: 10px 0;
  box-shadow: $box-shadow;
  border-radius: 10px;

  span {
    font-size: 18px;
  }

  .division {
    margin: 0 10px;

    b {
      display: none !important;
    }
  }

  .price {
    font-size: 18px;
    font-weight: 700;

    span {
      margin-left: 5px;
      font-weight: 400;
    }
  }
}


.order_form {
  padding-top: 2em;
  margin-bottom: 2em;

  h3 {
    margin-bottom: 0.5rem;
    font-size: 22px;
    font-weight: 700;
    font-family: "Pretendard";
  }

  p {
    font-size: 18px;
  }

  .form_group {
    align-items: center;
    margin-bottom: 16px;
  }

  .tel {
    display: flex;
    align-items: center;

    span {
      margin: 0 5px;
    }
  }

  .sup {
    position: relative;
    font-size: 1em;
    line-height: 0;
    vertical-align: baseline;
    top: 0em;
    color: #ff6a00;
  }
}

.pay_warp {

  padding: 2em;
  font-size: 18px;
  border-radius: 8px;
  box-shadow: $box-shadow;

  .pay_group {
    margin-bottom: 30px;

    h2 {
      font-size: 22px;
      font-weight: 700;
      font-family: $body-font-family;
    }
  }

  .agree_form {
    display: flex;

    .agree {
      margin-left: 10px;
      line-height: 1.4;
    }
  }

  .btn_warp {
    width: 100%;
    display: flex;
    margin-top: 50px;
    text-align: center;

    .btn_round {
      width: 30%;
      padding: 1em 0;
      margin-right: 5%;
      color: $main-color;
      background: #fff;
      border: 1px solid $main-color;
    }

    .btn_buy {
      padding: 1em 0;
      width: 60%;
    }
  }
}

.searchArea {
  margin: 40px auto 15px;

  .keywordBtns {
    padding: 0;
  }

  .searchInput {
    justify-content: right;
  }

  button {
    padding: 14px 20px !important;
  }

  .checkButton {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;

    input[type="checkbox"] {
      display: none
    }

    input[type="checkbox"]+label {
      padding: 10px 20px;
      text-align: center;
      display: block;
      width: 100%;
      border: 1px solid #ddd;
      border-radius: 8px;
    }

    input[type="checkbox"]:checked+label {
      background-color: #4E7D22;
      color: #fff;
    }
  }
}

.product {
  font-family: "S-CoreDream-3Light";

  .brand {
    display: block;
    height: 20px;
    font-family: "S-CoreDream-3Light";
    font-size: 11px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    color: #555;
    font-weight: 700;
    text-align: left;
  }

  .pdName {
    margin-bottom: 0.3rem;
    width: 100%;
    font-family: "S-CoreDream-6Bold";
    font-size: 20px;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-align: left;
    font-weight: 600;
  }

  .infoShort {
    font-family: "S-CoreDream-3Light";
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
    color: #666;
    text-align: left;
    padding-top: 5px;
  }

  .originPrice {
    display: block;
    height: 20px;
    font-family: "S-CoreDream-3Light";
    margin-bottom: 0 !important;
    font-size: 14px;
    color: #999;
    text-align: left;
    text-decoration: line-through;
    padding-top: 10px;
  }

  .originPriceNone {
    display: block;
    height: 20px;
    font-family: "S-CoreDream-3Light";
    margin-bottom: 0 !important;
    font-size: 14px;
    color: #fff;
    text-align: left;
    text-decoration: line-through;
  }

  .price {
    font-family: "S-CoreDream-6Bold";
    text-align: left;
    width: 100%;
    font-size: 18px;
    color: $sub-color;
    padding-top: 10px;
  }

  .priceNone {
    font-family: "S-CoreDream-6Bold";
    text-align: left;
    width: 100%;
    font-size: 18px;
    color: #333;
    padding-top: 30px;
  }

  span {
    margin-left: 5px;
    font-family: "S-CoreDream-3Light";
    font-size: 14px;
  }
}

.infoProduct {
  p {
    font-family: "S-CoreDream-3Light";
    margin: 0; 
    font-size: 14px;
  }
  ul {
    padding-left: 0px;
  }
  li {
    font-family: "S-CoreDream-3Light";
    font-size: 16px;
    font-weight: 300;
    display: flex;
    align-items: flex-start;
    color: #333;
  }
  p > strong {
    font-family: "S-CoreDream-6Bold";
  }
  li strong {
    padding: 0px;
    min-width: 70px;
    position: relative;
    white-space: break-spaces;
    font-family: "S-CoreDream-6Bold";
    color: #111;
    margin-right: 8px;
  }
  li strong::after {
    content: ''; 
    display: block;
    width: 1px;
    height: 14px;
    background: #f0f0f0;
    position: absolute;
    top: 50%;
    margin-top: -7px;
    right: 0px;
  }
  
  
}

.contents {
  padding-top: 50px;
}

@media only screen and (max-width : 1280px) {
  .pay_warp {
    padding-left: 1em;
  }
}

@media only screen and (max-width: 991px) {
  .pay_warp {
    padding-left: 0;
    box-shadow: none;
  }
}

@media only screen and (max-width: 575px) {
  .input {
    width: calc(100% - 53px);
  }
}