$body-font-family: "Pretendard";
$main-color: #4E7D22;
$sub-color: #0E5039;
$body-color: #4d4d4d;
$heading-color: #212121;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #666666;
$light-color: #999999;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);

/*제휴서비스 소개*/
.item_card {
  margin-bottom: 50px;
  box-shadow: $box-shadow;
  .items {
    padding: 20px;
    text-align: center;
    background-color: $white-color ;
    h3 {
      margin-bottom: 15px;
    }
  }
}

/*제휴서비스 소개 상세*/
.items_image {
  text-align: center;
  background-color: #f7f7f7;
}
.items_details_desc {
  margin-top: 30px;
  h2 {
    margin-bottom: 30px;
  }
  p {
    margin-bottom: 50px;
  }
  .price {
    font-family: $body-font-family;
    text-align: right;
  }
  .btn_warp {
    text-align: right;
    .btn {
      padding: 20px 50px;
    }
  }
}

.items_text {
  border: 1px solid #eeeeee;
  padding: 30px
}

.tab_tit {
  padding: 3px 10px;
  font-size: 18px;
  font-family: $body-font-family;
  font-weight: 600;
}
