.mainModal {
    position: fixed;
    top: 50%;
    transform: translateY(-220px);
  }
  
  .youtube_wrap {
  
    background-color: #005032;
  
    h3 {
      font-family: "S-CoreDream-2ExtraLight";
      color: #fff;
      text-align: center;
      font-size: 22px;
      font-weight: 600;
      margin-bottom: 20px;
    }
  
    .youtube {
      width: 100%;
  
    }
  
    .scaleVideo {
      width: 100%;
      padding-top: 56.25%;
      position: relative;
  
      iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
    }
  
    @media only screen and (max-width: 991px) {
      .youtube {
        width: 100%;
      }
    }
  }
  
  
  .swiper {
    .slide1 {
      background-image: url(/images/main/main_01.jpg);
    }
  
    .slide2 {
      background-image: url(/images/main/main_02.jpg);
  
      .mainCopy {
        position: relative;
      }
  
      .mapImage {
        position: absolute;
        right: 5%;
        top: 50%;
        transform: translateY(-50%);
        width: 50%;
        min-height: 60vh;
        background-image: url(/images/main/main_02_map.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  
    .slide3 {
      background-image: url(/images/main/main_03.jpg);
    }
  
    .slide4 {
      background-image: url(/images/main/main_04.jpg);
    }
  
    .slide5 {
      background-image: url(/images/main/main_05.jpg);
  
      .mainCopy {
        position: relative;
      }
  
      .slide5Icons {
        position: absolute;
        right: 15%;
        top: 50%;
        transform: translateY(-50%);
        width: 30%;
        min-height: 70vh;
        background-image: url(/images/main/main_05_service.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  
.onePage {
  position: relative;
  width: 100%;
  height: 100%;
  // background-color: blue;

  .bookingPageLeftSection {
    // position: absolute;
    // top: 50%;
    // transform: translateY(-400px);
    padding: 226px 0 100px 199px;
    background-color: #fff;
		
			.titleBox {
				width: 270px;
				height: 140px;
				background-color: #fff;

    h1 {
      font-family: Jost;
      font-size: 50px;
      font-style: normal;
      font-weight: 700;
      line-height: 60px;
      letter-spacing: -0.5px;
      text-transform: uppercase;
      color: #111;

      span {
        font-size: 80px;
        letter-spacing: -0.8px;
        color: #6ED338;
      }
    }
			}

			.formWrap {

				.inputWrap {
					display: flex;
				 justify-content: flex-start;
				 width: 511px;
					padding: 80px 0 30px;

					label {
						font-size: 16px;
						font-weight: 600;
						line-height: 30px;
						letter-spacing: -.16px;
					}

					input {
						width: 100%;
						margin: 20px 0 0 0;
						padding: 0 10px 10px;
						border: 0;
						border-bottom: 1px solid #333;
					}

					input[type='date']::before {
						content: attr(data-placeholder);
						width: 100%;
						color: #aaa;
					}

					input[type='date']:focus::before,
					input[type='date']:valid::before {
						display: none;
					}

				}

				.discriptionWrap {
					width: 487px;
					height: 50px;
					margin: 0;
					padding: 15px 0;
					background: #e8e8e8;
					text-align: center;

					p {
						font-size: 14px;
						font-weight: 400;
						line-height: 20px;
						letter-spacing: -.14px;
						color: #333;

						span {
							font-weight: 700;
						}
					}
				}

				.buttonWrap {
					margin: 30px 0;
					
					.submitButton {
						width: 186px;
						height: 56px;
						margin: 50px 0 0;
						font-size: 18px;
						font-weight: 500;
						letter-spacing: -0.18px;
						text-align: center;
						border: 1px solid #333;
						background-color: #fff;
					}
				}
		}

  }

  .bookingPageRightSection {
    margin: 0;
    padding: 0;

    .slide1 {
      background-image: url(/images/main/main_01.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .slide2 {
      background-image: url(/images/main/main_02.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .slide3 {
      background-image: url(/images/main/main_03.jpg);
      background-repeat: no-repeat;
      background-size: cover;
    }

    .backgroundImage {
      width: 50vw;
      height: 100vh;
      margin: 0;
      padding: 0;
    }
  }
}

.sliderPageSection {
		padding: 226px 199px 80px;
		background-color: #fff;

			.titleWrap {

				h1 {
					display: inline-block;
					font-family: Jost;
					font-size: 50px;
					font-style: normal;
					font-weight: 700;
					line-height: 60px;
					letter-spacing: -0.5px;
					text-transform: uppercase;
					color: #111;

					span {
						font-size: 80px;
						letter-spacing: -0.8px;
						color: #6ED338;
					}
				}

				p {
					display: inline-block;
					padding-left: 40px;
				}
			}

			.sildeSize {
				height: 465px;
			}

			.slide2 {
				// background-image: url(/images/main/main_001.jpg);
				height: 465px;
		}

    .swiper {
        padding-top: 20px;;
      .slideWrap {
          display: flex;
          flex-direction: row;

          .sectionLeft {
            display: flex;
            flex-direction: column;
            position: relative;
            width: 50%;
            height: 465px;
            padding: 80px 140px;
            background-color: #282828;

            h1 {
              display: inline-block;
              font-family: Noto Sans KR;
              font-size: 30px;
              font-style: normal;
              font-weight: 700;
              line-height: 26px;
              letter-spacing: -0.3px;
              color: #fff;
            }
            
            span {
              margin: 20px 0 30px;
              font-size: 16px;
              letter-spacing: -0.16px;
              color: #fff;
            }

            p {
              display: inline-block;
              margin: 0;
              font-family: Noto Sans KR;
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 28px;
              letter-spacing: -0.18px;
              color: #fff;
            }

            .buttonWrap {
              position: absolute;
              bottom: 150px;
              
              .defaultBtnBlack{
                font-family: Jost;
                font-size: 16px;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: -0.16px;
                text-decoration-line: underline;
                color: #aaa;
              }
            }
        }

        .sectionRight {
          width: 50%;
          height: 520px;
          background-color: #fff;
        }
      }

      & > div:nth-child(2) {
        left: 100px;
      }

      & > div:nth-child(3) {
        right: 100px;
      }
  
      & > div:nth-child(4) {
        width: 360px;
        left: 100px;
        bottom: 60px !important;
      }
    }
	}

	.itemListPageSection {
		padding: 226px 199px;
		background-color: #111;

		.titleWrap {

			h1 {
				display: inline-block;
				font-family: Jost;
				font-size: 50px;
				font-style: normal;
				font-weight: 700;
				line-height: 60px;
				letter-spacing: -0.5px;
				text-transform: uppercase;
				color: #fff;

				span {
					font-size: 80px;
					letter-spacing: -0.8px;
					color: #6ED338;
				}
			}

			p {
				display: inline-block;
				padding-top: 20px;
        letter-spacing: -0.26px;
        color: #ccc;
			}
		}

		.itemIntoroduceWrap {
      margin-top: 30px;

        h3 {
          margin: 20px 0;
          font-size: 26px;
          color: #aaa;
        }

        .navLink {
          color: #aaa;
          font-size: 26px;
          font-weight: 700;
          line-height: 50px;
          letter-spacing: -0.26px;
        }

        .navLink[aria-selected = true] {
          color: #fff;
        }
    }

    .itemListWrap {

      .itemListUl {
        margin: 0;
        padding: 0;
        
        .itemListLi {
          display: flex;
          justify-content: center;
          margin: 0 auto;
          padding: 0;
          list-style: none;
          // border: 1px solid #ddd;

          .imageWrap {
            position: relative;

            &::before
            {
              content: 'SALE';
              position: absolute;
              top: 0;
              left: 0;
              width: 80px;
              height: 40px;
              padding: 9px 0;
              font-size: 18px;
              font-weight: 700;
              line-height: normal;
              letter-spacing: -0.18px;
              text-align: center;
              color: #fff;
              background-color: #666;
            }
          }

          img {
            width: 345px;
            height: 345px;
          }

          h4 {
            margin: 30px 0;
            padding: 0;
            font-size: 24px;
            color: #fff;
          }

          span {
            margin: 0;
            padding: 0px;
            font-size: 24px;
            letter-spacing: -0.24px;
            color: #fff;
          }

          span.discript {
            margin: 20px 0;
            padding: 0;
            font-size: 16px;
            color: #bbb;
          }

          .discountPercent {
            margin: 20px 0;
            padding-right: 10px;
            font-size: 24px;
            letter-spacing: -0.24px;
            color: #6ed338;
          }

          .discountPoint {
            padding-left: 10px;
            font-size: 16px;
            letter-spacing: -0.16px;
            color: #666;
            text-decoration: line-through;
          }

          .displayNone {
            display: none;
          }
        }
        
      }

    }
	}



  @media only screen and (max-width: 768px) {
    .mainModal {
      transform: translateY(-120px);
    }
  
    .swiper {
      h1 {
        font-size: 1.3rem !important;
        letter-spacing: 0 !important;
      }
  
      p {
        font-size: 10px !important;
        letter-spacing: -0.05rem !important;
      }
  
      .slide1 {
        background-image: url(/images/main/main_001.jpg);
      }
  
      .slide2 {
        background-image: url(/images/main/main_002.jpg);
  
        .mainCopy {
          width: 100%;
        }
  
        .mapImage {
          position: inherit;
          float: left;
          margin-bottom: 30px;
          transform: translateY(0);
          width: 100%;
          min-height: 180px;
          background-image: url(/images/main/main_002_map.png);
        }
      }
  
      .slide3 {
        background-image: url(/images/main/main_003.jpg);
      }
  
      .slide4 {
        background-image: url(/images/main/main_004.jpg);
      }
  
      .slide5 {
        background-image: url(/images/main/main_005.jpg);
  
        .mainCopy {
          width: 100%;
        }
  
        .slide5Icons {
          position: inherit;
          float: left;
          margin-bottom: 30px;
          transform: translateY(0);
          width: 100%;
          min-height: 180px;
        }
      }
    }
  }