.range_wrap {
  display: flex;
  position: relative;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider {
  position: relative;
  width: 100%;
}

.slider__track,
.slider__range,
.slider__left-value,
.slider__right-value {
  position: absolute;
}

.slider__track,
.slider__range {
  border-radius: 3px;
  height: 5px;
}

.slider__track {
  background-color: #ced4da;
  width: 100%;
  z-index: 1;
}

.slider__range {
  background-color: #3e8b3c;
  z-index: 2;
}

.slider__leftValue,
.slider__rightValue {
  input {
    width: 82px;
    padding: 8px 13px;
    border: 1px solid #ccc;
    background: none;
    border-radius: 5px;
    text-align: center;
    color: #333;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.14px;
  }
}

.slider__leftValue {
  input {
    position: absolute;
    left: 0;
    top: 24px;
  }
}

.slider__rightValue {
  right: -4px;
  input {
    position: absolute;
    right: 0;
    top: 24px;
  }
}

/* Removing the default appearance */
.thumb,
.thumb::-webkit-slider-thumb {
  -webkit-appearance: none;
  -webkit-tap-highlight-color: transparent;
}

.thumb {
  pointer-events: none;
  position: absolute;
  height: 0;
  width: 200px;
  outline: none;
}

.thumbLeft {
  left: -8px;
  top: -2px;
  z-index: 3;
}

.thumbRight {
  right: -8px;
  top: -2px;
  z-index: 4;
}

/* For Chrome browsers */
.thumb::-webkit-slider-thumb {
  background-color: #f9f9f9;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
  cursor: pointer;
  height: 16px;
  width: 16px;
  margin-top: 4px;
  pointer-events: all;
  position: relative;
}

/* For Firefox browsers */
.thumb::-moz-range-thumb {
  background-color: #f9f9f9;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  height: 16px;
  width: 16px;
  pointer-events: all;
  position: relative;
}
