.item_card {
  &:first-of-type {
    padding-left: 0;
  } 
  &:last-of-type {
    padding-right: 0;
  }
  article {
    background:#333;
    padding: 46px 0 46px 30px;
    h1 {
      margin:0;
      font-family: 'Montserrat', sans-serif;
      font-size: 40px;
      font-weight: 300;
      letter-spacing: -0.4px;
      line-height: 50px;
      color:#666;
    }
    h2 {
      margin:0;
      font-size: 28px;
      font-weight: 500;
      line-height: 50px;
      letter-spacing: -0.28px;
      color: #fff;
    }

    p {
      font-size: 16px;
      font-weight: 300;
      letter-spacing: -0.16px;
      line-height: 50px;
      color: #ddd;
    }
  }
}