.item_card {
  background:#333;
  h1 {
    color:#666;
    letter-spacing: -0.4px;
    font-size: 40px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
  }
  h2 {
    color: #fff;
    letter-spacing: -0.28px;
    font-size: 28px;
    font-weight: 500;
  }

  p{
    color: #ddd;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.16px;
  }
}