$body-font-family: "Pretendard";

$main-color: #111;
$sub-color: #3E8B3C;
$point-color: #6ED338;
$brand-color: #083f22;
$body-color: #333;
$heading-color: #212121;
$white-color: #ffffff;
$black-color: #000000;
$gray-color: #666666;
$light-color: #999999;
$box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
$transition: all 0.6s ease;
$border-radius: 4px;
$sub-content-color-home-four: #e7e7e7;

.top_event {
    display: none;
    background-color: #006349;
    padding: 5px 0;
    a {
        display: flex;
        justify-content: center;
        span {
            font-size: 10px;
            color: $white-color;
        }
    }

}

.backdrop {
    display: none;
    position: absolute;
    width:100%;
    height: 100vh;
    background: rgba(0,0,0, 0.3);
    
}



.mo_navbar {
    width: 100%;
    min-width: 320px;
    max-width: 768px;
    margin: 0 auto;

    .button_wrap {
        width: 88px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        
        .login_btn {
            padding: 10px;
        }
    }
}



.menu {
    width: 345px;
    height: 100vh;
    padding: 100px 0px 50px 0px;
    position: absolute;
    top: 0vh;
    right: 0;
    background-color: rgba(255, 255, 255, 0.95);

    .navbarUl {

        li {
            
            a {
                margin: 0px !important;
                padding: 0 40px !important;
                font-family: Montserrat !important;
                font-size: 18px !important;
                font-weight: 700 !important;
                letter-spacing: -0.18px !important;
                color: #111 !important;
                
            }

            ul {
                width: 100% !important;
                padding: 0 !important;

                .ulLiBackground {
                    display: flex;
                    flex-direction: column;
                    width: 100% !important;
                    border-radius: 0;
                    background: #f5f5f5 !important;
        
                    a {
                        font-size: 14px !important;
                        font-weight: 500 !important;
                        letter-spacing: -0.14px !important;
                        color: #666 !important;
                    }
                }
            }
        }
    }

    .firstLi {
        margin: 0;

        & a {
            margin: 0px !important;
            padding: 0 40px !important;
        }
    }

}

.menuBtn {
    z-index: 1;
}


.footer {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
    margin: 0 auto;
    padding: 40px 20px 40px;
    background-color: #333;
    color: #fff;

    .leftWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 55%;

      .csWrap {

        .csNumber, .csTime {
          display: block;
          font-family: Montserrat, Noto Sans KR;
          font-size: 12px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.01em;
          text-align: left;

        }
      }

      .privacyWrap {
        // margin-top: 20px;
        // margin-bottom: 30px;

        .privacy, .tos, .cpo {
          display: block;
          font-family: Montserrat, Noto Sans KR;
          font-size: 8px;
          font-weight: 400;
          line-height: 18px;
          letter-spacing: -0.01em;
          text-align: left;
        }
      }

      .infoWrap {

        span {
          display: block;
          font-family: Montserrat, Noto Sans KR;
          font-size: 8px;
          font-weight: 400;
          line-height: 14px;
          letter-spacing: -0.01em;
          text-align: left;
          color: #999;
        }

        .company {
          font-weight: 700;
        }

      }
    }

    .rightWrap {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 45%;
      font-family: Montserrat, Noto Sans KR;
      font-size: 12px;
      font-weight: 700;
      line-height: 24px;
      letter-spacing: -0.01em;
      text-align: left;

      .snsWrap {

        .link {
          display: block;
          color: #fff;
        }

      }

      .copyright {
        font-size: 8px;
        font-weight: 500;
        line-height: 16px;
        color: #999;
        
      }
    }
  }



/* navMobile */
.navMobile {
    position: sticky;
    bottom: 0;
    width: 100%;
    max-width: 480px;
    min-width: 320px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
    border-top: 1px solid var(--ddd, #DDD);
    background-color: #f1f1f1;

    & ul {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;
        height: calc(var(--vh, 1vh) * 11);
        margin: 0;
        padding: 0;
        list-style: none;
        background-color: #ddd;
        

        & li {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: calc(var(--vh, 1vh) * 1);
            flex-shrink: 0;
            width: 75px;
            height: calc(var(--vh, 1vh) * 11);
            margin: 0;
            padding: 0;
            list-style: none;

            & a {
            display: contents;

            & span {
                text-align: center;
                font-family: Noto Sans KR;
                font-size: 10px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                letter-spacing: -0.1px;
                color: #999;
            }
        }
      }
    }
  }